p > a:after {
   content: none!important;
}

p > a:before {
   content: none!important;
}

.listing-description {
  font-style: italic;
  padding-top: 10px;
}

.quarto-post.image-right{
  padding-top: 20px;
  padding-bottom: 10px;
}

.listing-title{
  padding-bottom: 10px;
}

h2 {
  font-size: 2.3rem !important;
  text-decoration:none !important;
  border-bottom: 0px;
}