.btn-sm {
  padding-left: 7px;
  padding-right: 7px;
  background: var(--accent-colour) !important;
  color: white !important;
  border-radius: 45px !important;
  padding: 3px 8px !important;
  text-align: center !important;
  width: max-content !important;
  display: inline !important;
  margin-right: 8px !important;
  border: 0px solid white !important;
  opacity: 0.6;
}

.btn-sm:hover {
  fill: var(--highlight-colour);
}

.btn-sm:after {
   content: none;
}

.btn-sm:before {
   content: none;
}

